<html>
	<head>
		<title><%= headTitle %></title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
		activeLinkPath}); %>
		<main>
			<h3 class="texty">Edytuj wpis</h3>
			<form class="form" action="/edit/<%= entry.id %>" method="POST">
				<div class="form__group">
					<label class="form__label" for="mood"> Mood: </label>
					<div class="form__mood-options">
						<label>
							<input type="radio" name="mood" value="Happy" <%= entry.mood ===
							"Happy" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f601.png"
								alt="Happy emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="OK" <%= entry.mood === "OK"
							? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f609.png"
								alt="Winking emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Normal" <%= entry.mood ===
							"Normal" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f610.png"
								alt="Emoji with a straight face"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Sad" <%= entry.mood ===
							"Sad" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/2639-fe0f.png"
								alt="Sad emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Depressed" <%= entry.mood
							=== "Załamany/a" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f62d.png"
								alt="Crying emoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Tired" <%= entry.mood ===
							"Tired" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f634.png"
								alt="Sleeping emmoji"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Angry" <%= entry.mood ===
							"Angry" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f620.png"
								alt="Zła emotka"
								class="mood-icon" />
						</label>
						<label>
							<input type="radio" name="mood" value="Stressed" <%= entry.mood
							=== "Stressed" ? "checked" : "" %> required>
							<img
								src="https://emoji.aranja.com/static/emoji-data/img-apple-160/1f630.png"
								alt="Stressed emoji"
								class="mood-icon" />
						</label>
					</div>
				</div>
				<div class="form__group">
					<label class="form__label" for="description"> Description: </label>
					<input
						id="description"
						class="form__input"
						type="text"
						name="description"
						value="<%= entry.description %>" />
				</div>
				<div class="form__group">
					<label class="form__label" for="rating"> Rating: </label>
					<div class="form__rating-options">
						<label>
							<input type="radio" name="rating" value="0" <%= entry.rating == 0
							? "checked" : "" %> required>
							<span class="rating">0</span>
						</label>
						<label>
							<input type="radio" name="rating" value="1" <%= entry.rating == 1
							? "checked" : "" %> required>
							<span class="rating">1</span>
						</label>
						<label>
							<input type="radio" name="rating" value="2" <%= entry.rating == 2
							? "checked" : "" %> required>
							<span class="rating">2</span>
						</label>
						<label>
							<input type="radio" name="rating" value="3" <%= entry.rating == 3
							? "checked" : "" %> required>
							<span class="rating">3</span>
						</label>
						<label>
							<input type="radio" name="rating" value="4" <%= entry.rating == 4
							? "checked" : "" %> required>
							<span class="rating">4</span>
						</label>
						<label>
							<input type="radio" name="rating" value="5" <%= entry.rating == 5
							? "checked" : "" %> required>
							<span class="rating">5</span>
						</label>
					</div>
				</div>
				<div class="form__group">
					<label class="form__label" for="date"> Date: </label>
					<input
						id="date"
						class="form__input"
						type="date"
						name="date"
						value="<%= entry.date %>" />
				</div>
				<button class="add_button" type="submit">Save changes</button>
				<% if (typeof errorMessage !== 'undefined') { %>
				<p style="color: rgb(175, 5, 5); font-weight: 600">
					<%= errorMessage %>
				</p>
				<% } %>
			</form>
		</main>
	</body>
</html>
