<html>
	<head>
		<title><%= headTitle %></title>
		<link rel="stylesheet" href="/css/main.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
		activeLinkPath }); %>
		<main>
			<h3 class="texty">History</h3>
			<% if (entries?.length > 0) { %>
			<ul>
				<% entries.forEach(entry => { %>
				<li class="entry__list">
					<div class="entry">
						<h3 class="entry__title"><%= entry.mood %></h3>
						<p class="entry__date"><%= entry.date %></p>
						<p class="entry__rating">Rating: <%= entry.rating %>/5</p>
						<p class="entry__description"><%= entry.description %></p>
						<form>
							<a href="/edit/<%= entry.id %>" class="entry-btn edit-btn"
								><i class="fa-regular fa-pen-to-square"></i> Edit</a
							>
							<button
								class="entry-btn"
								type="button"
								onclick="deleteEntry('<%= entry.id %>')">
								<i class="fa-regular fa-trash-can"></i> Delete
							</button>
						</form>
					</div>
				</li>
				<% }); %>
			</ul>
			<% } else { %>
			<br />
			<div>No entries yet.</div>
			<% }%>
		</main>
		<script>
			function deleteEntry(id) {
				if (!confirm(`Are you sure?`)) {
					return;
				}

				fetch(`/delete/${id}`, {
					method: 'DELETE',
				}).then((res) => {
					if (res.ok) {
						window.location.reload();
					} else {
						alert('Error while deleting');
					}
				});
			}
		</script>
	</body>
</html>
