<html>
	<head>
		<title><%= headTitle %></title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
		activeLinkPath}); %>
		<main>
			<h3 class="texty">Hello!</h3>
			<p class="texty">Your last entry:</p>
			<% if (newestEntry?.mood) { %>
			<div class="row">
				<div class="col-sm-6 mb-3 mb-sm-0 last-entry">
					<div class="card">
						<div
							class="card-body"
							style="border: 2px solid #43334c; border-radius: 0.375rem">
							<h5 class="card-title"><%= newestEntry.mood %></h5>
							<p class="card-text"><%= newestEntry.description %></p>
							<h6 class="card-subtitle mb-2 text-body-secondary">
								<%= newestEntry.date %>
							</h6>
							<h6 class="card-subtitle mb-2 text-body-secondary">
								Rating: <%= newestEntry.rating %>/5
							</h6>
							<a href="/history" class="card-link">Browse last entries</a>
						</div>
					</div>
				</div>
				<% if (quote?.q && quote?.a) { %>
				<div class="col-sm-6 quote">
					<div class="card">
						<div
							class="card-body"
							style="border: 2px solid #43334c; border-radius: 0.375rem">
							<h5 class="card-title">Your random quote:</h5>
							<p class="card-text"><%= quote.q %></p>
							<h6 class="card-subtitle mb-2 text-body-secondary">
								- <%= quote.a %>
							</h6>
						</div>
					</div>
				</div>
				<% } else { %>
				<div></div>
				<% }%>
			</div>
			<% } else { %>
			<div class="texty">No entries yet.</div>
			<div class="card">
				<div class="card-body" style="border: 2px solid #43334c; border-radius: 0.375rem">
					<h5 class="card-title">Your random quote:</h5>
					<p class="card-text"><%= quote.q %></p>
					<h6 class="card-subtitle mb-2 text-body-secondary"> - <%= quote.a %></h6>
				</div>
			</div>
			<% }%>
		</main>
	</body>
</html>
